{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Google Font  -->
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- My CSS -->
  <link rel="stylesheet" href="{% static 'css/post.css'%}">
  <title>Coronahub - Post</title>
</head>

<body>
  <div class="main-container d-flex flex-column justify-content-between">
    <div class="navbar-container d-flex flex-row justify-content-between">

      <div class="logo-web d-flex flex-row" style="margin: 30px; margin-left: 40px;">
        <img src="{% static 'img/post/logo.png' %}" alt="logo">
        <a href="/search" style="text-decoration: none;">
          <h3>Coronahub</h3>
        </a>
      </div>
      
      <div style="margin: 30px; margin-right: 40px;">
        <button type="button" class="btn btn-light">Jonathan</button>
      </div>

    </div>

    <div class="post-container d-flex flex-column"> 

      <h1 id="header">To #GotongRoyong is to save the infected.</h1>

      <div class="post-in row">

        <div class="post-left col-lg-6 col-sm-12">
          <input class="form-control form-1" type="text" placeholder="Requested item e.g. masks">
          <input class="form-control" type="text" placeholder="Quantity e.g. 1000">
          <select class="form-control" id="exampleFormControlSelect1">
            <option value="" disabled selected>Urgency</option>
            <option>Urgency 1</option>
            <option>Urgency 2</option>
            <option>Urgency 3</option>
            <option>Urgency 4</option>
          </select>
          <!-- <input class="form-control" type="text" placeholder="Urgency"> -->
          <textarea class="form-control" placeholder="Descriptions"></textarea>
        </div>

        <div class="post-right col-lg-6 col-sm-12 column">
          <button type="button" class="btn btn-warning">INSERT IMAGE</button>
          <button type="button" class="btn btn-success">POST</button>
        </div>

      </div>

    </div>

    <div class="footer-container d-flex flex-row justify-content-between">
      <div>
        <p>Copyright © 2020 - Fasilkom UI x Coronahub Team</p>
      </div>

      <div>
        <a href="https://www.cs.ui.ac.id/" target="__blank"><p>Learn more about Fasilkom UI</p></a>
      </div>
    </div>

  </div>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>