html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}
.firstSectionContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: linear-gradient(to top right, #8a4f4f, #d62c2c);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mainTitle {
  font-weight: bold;
  font-size: 3em;
  color: white;
  text-align: center;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttonRow {
  margin-top: 3em;
}

.buttonPrimary {
  width: 5rem;
  height: 1.5rem;
  background: white;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
  padding: 0.25rem;
  font-size: 0.75rem;
}

.subtitle {
  font-weight: bold;
  color: white;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
}
:hover .subtitle {
  text-decoration: underline;
}

.smoothScroll {
  font-weight: 400;
  color: white;
}

.bottomScreen {
  margin-top: 4rem;
}

.header {
  max-width: 100%;
  width: 100%;
  height: 4rem;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 1rem;
}

.buttonGroupTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}

.buttonSecondary {
  margin-left: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: white;
}

.secondSectionContainer {
  min-width: 100vw;
  min-height: 100vh;
  background: white;
}

.title2 {
  font-weight: bold;
  color: black;
  font-size: 1.5rem;
  margin-top: 5rem;
  text-align: center;
}

.firstParagraph {
  font-weight: normal;
  color: black;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 1rem;
  width: 50%;
}

.column {
  flex-direction: column;
  align-items: center;
}

.divider {
  background: #e5e5e5;
  height: 0.2rem;
  width: 100%;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 3rem;
}

.question {
  font-weight: bold;
  font-size: 1.4rem;
  margin-top: 1rem;
  text-align: center;
}

.tabContainer {
  margin-top: 2rem;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tab {
  cursor: pointer;
  width: 10rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background: #fcbdbd;
  border-radius: 5rem;
}

.donatorContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
}

.textContainer {
  width: 70%;
  height: 100%;
}

.sideImageContainer {
  width: 30%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.circle1 {
  width: 300px;
  position: absolute;
  right: 0;
  top: -10px;
  filter: grayscale(100);
}

.subTitleDonator {
  font-size: 1.3rem;
  position: absolute;
  left: 2%;
}

.left {
  justify-content: flex-start;
  margin-top: 1em;
}

.asADonator {
  font-weight: bold;
}

.secondButtonPrimary {
  width: 10rem;
  height: 2rem;
  font-size: 1rem;
  display: flex;
  color: #d62c2c;
  justify-content: center;
  align-items: center;
  border: 2px #d62c2c solid;
  border-radius: 5px;
  cursor: pointer;
}
:hover.secondButtonPrimary {
  border: 2px transparent solid;
  background: #d62c2c;
  color: white;
}

.hidden {
  display: none;
}

.longButton {
  width: 20rem;
}

.thirdSectionContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  /* margin-top: 10rem; */
  flex-direction: column;
}

.logoSection {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
  filter: grayscale(100%);
}

.fasilkom {
  height: 90px;
}
.pageContainer {
  position: relative;
  min-height: 100vh;
}
.footer {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 3rem;
  background: #f9f9f9;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.copyright {
  font-size: 0.8rem;
}
a {
  text-decoration: none;
  color: black;
}

.redText {
  color: #d62c2c;
}

@media screen and (max-width: 940px) {
  .sideImageContainer {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .tabContainer {
    width: 100%;
    justify-content: space-evenly;
  }
  .subTitleDonator {
    position: initial;
  }
  .logoSection {
    width: 100%;
  }
  .textContainer {
    height: 100%;
  }
}

@media screen and (max-width: 400px) {
  .mainTitle {
    font-size: 2em;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .firstParagraph {
    font-size: 1rem;
    width: 80%;
  }
  .secondButtonPrimary {
    font-size: 0.8rem;
    width: 9rem;
  }
}

@media screen and (max-width: 300px) {
  .header {
    justify-content: center;
    flex-wrap: wrap;
  }
  .logo {
    margin-top: 1rem;
    margin-left: 0;
  }
  .buttonGroupTop {
    margin-top: 0;
    margin-top: 2rem;
  }
}
