html, body {
    width: 100%;
    height: 100%;
    font-family: "Raleway", sans-serif;
    background-image: linear-gradient(to top right, #8A4F4F, #D62C2C);
}

.main-container {
    width: 100%;
    height: 100%;
}

.logo-web img {
    min-width: 20%;
}

.post-container {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.post-container h1 {
    font-weight: bolder !important;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

.footer-container {
    padding: 0 10px;
    color: #ffffff;
}

.post-in {
    width: 100%;
    margin-top: 30px;
}

.post-left input, textarea, select {
    margin-bottom: 20px;
}

.main-container h3 {
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    font-size: 25px;
}

.logo-web {
    margin: 20px;
    margin-left: 40px;
}

#header {
    font-weight: bolder;
}

::placeholder {
    color: #000000;
    font-weight: bold;
    opacity: 1;
}

.footer-container a {
    text-decoration: underline;
    color: white;
}

@media screen and (min-width: 801px) {
    .post-in {
        width: 50%;
        margin-top: 30px;
    }
}

@media screen and (max-width: 800px) {
    .post-in input {
        width: 100%;
        margin-top: 30px;
    }
}
  
@media screen and (max-width: 500px) {
    .logo-web img {
        max-height: 90%;
    }

    .post-container h1 {
        font-size: 28px;
    }

    .post-in input {
        width: 100%;
        margin-top: 30px;
    }

    .footer-container {
        flex-direction: column !important;
        text-align: center;
    }

    .form-1 {
        margin-top: 0 !important;
    }

}