body, html {
	width: 100%;
    height: 100%;
    background-image: linear-gradient(to top right, #8A4F4F, #D62C2C);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.menu-container a {
	text-decoration: none;
	color: black;
}

nav {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
}

nav a, nav a:hover {
	text-decoration: none;
}

nav h5 {
	display: inline;
	color: white;
}

form {
	display: flex;
	flex-flow: column wrap;
}

button {
	background-color: white;
	border: 2px solid #D62C2C;
	border-radius: 5px;
	padding: 10px 50px;
	color: #D62C2C;
	font-weight: bold;
}

button:hover {
	transition: 500ms;
	background-color: #D62C2C;
	border: 2px solid white;
	border-radius: 5px;
	padding: 10px 50px;
	color: white;
	font-weight: bold;
}

#donator, #clinichospital {
	width: 15px;
	height: 15px;
	border-radius: 50%;
}

#donator-label, #clinichospital-label {
	margin-top: 30px;
	margin-right: 100px;
	margin-bottom: 30px;
}

#email, #password, #clinichospital-name {
	margin-bottom: 25px;
	height: 40px;
	width: 70%;
	background-color: #ddd;
	border: 1px solid white;
	padding: 0 10px;
}

#agreement-label {
	font-size: 12px;
}

::placeholder {
	color: black;
}

.main-container {
	display: flex;
	flex-flow: column wrap;
	width: 60%;
	background-color: white;
	margin: 30px auto;
	padding: 40px;
}

.menu-container {
	display: flex;
    align-items: center;
    justify-content: space-around;
    vertical-align: middle;
    text-align: left;
}

.check {
	margin-top: 25px;
	margin-bottom: 15px;
}

.active {
	font-weight: bold;
}

@media only screen and (max-width: 700px) {
	.main-container {
		width: 85%;
	}

	.menu-container h4 {
		font-size: 18px;
	}

	#donator-label, #clinichospital-label {
		margin-top: 60px;
		margin-right: 20px;
		margin-bottom: 20px;
	}

	#email, #password, #clinichospital-name {
		margin-bottom: 20px;
		height: 40px;
		width: 100%;
		background-color: #ddd;
		border: 1px solid white;
		padding: 0 10px;
	}
}

@media only screen and (max-width: 370px) {
	.main-container {
		width: 90%;
	}

	.menu-container h4 {
		font-size: 18px;
	}

	#donator, #clinichospital {
		width: 10px;
		height: 10px;
		border-radius: 50%;
	}

	#donator-label, #clinichospital-label {
		margin-top: 60px;
		margin-right: 20px;
		margin-bottom: 20px;
		font-size: 12px;
	}

	#email, #password, #clinichospital-name {
		margin-bottom: 20px;
		height: 40px;
		width: 100%;
		background-color: #ddd;
		border: 1px solid white;
		padding: 0 10px;
	}
}