body, html  {
     height: 100%;
     margin: 0;
     height: 100%;
     background-position: center;
     background-size: cover;
     font-family: Raleway;
     font-style: normal;
     font-weight: bold;
   }
.searchindex{
     background-image: linear-gradient(to top right, #8A4F4F, #D62C2C );
}

.backwhite{
     background-color: white;
}
.bgimg {
     font-family: Raleway;
     font-style: normal;
     font-weight: bold;
     color: #FFFFFF;
}

.left {
     left: 0px;
}

.right {
     right: 16px;
}

.bottom {
     position: absolute;
     bottom: 0;
     width: 100%;
}

.middle {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
     font-size: 3.5vmax;
}

hr {
     margin: auto;
     width: 40%;
}

.formsearch{     
     max-width: 75%;
}

.btn{
     background-color: white;
     font-family: Raleway;
     font-style: normal;
     font-weight: bold;
}
.btntop{
     margin-top: 0.4vmax;
}

#sticky-footer {
     flex-shrink: none;
     font-size: 3vh;
}

.gap{
     margin-bottom: 3vw;
}

.footer-gray{
     color: gray;
}

.footer-white{
     color: white;
}

.py-2{
     font-size: 2.3vh;
     max-width: 100%;
}

p{
     line-height: 25px;
     margin-bottom: 0;
}


.main-container h3 {
     color: #ffffff;
     text-align: center;
     vertical-align: middle;
     padding-top: 5px;
     font-size: 2vmax;
 }
 
 .logo-web {
     margin-left: 40px;
 }
 
.main-container {
     width: 100%;
     height: 100%;
 }

 .buttonnama{
     margin: 30px; 
     margin-right: 40px;
 }
 .logo{
      width: 2vmax;
      height: 2.5vmax;
 }
.nama{
     font-size: 1.3vmax;
}

.navbar {
     font-weight: 700;
     font-size: .9rem;
     letter-spacing: .1rem;
     padding: 0;
}

.navbar2{
     font-weight: 700;
     font-size: .9rem;
     letter-spacing: .1rem;
     background: rgba(255,255,255)!important;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
     padding: 0;
}
.navbar-nav li{
     padding-right :.7 rem;
}
   
.navbar-light .navbar-nav .nav-link{
     color:#d62c2c;
     border: 1px solid #d62c2c;
     border-radius: 5px;
}
   
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .navbar-link:hover{
     color: #1ebba3;
}

.gambar{
     max-width: 73%;
     max-height: 73%;
}
.gambarsearch{
     max-width: 85%;
     max-height:73%;
}
.btndonate{
     border-color: #D62C2C;
     color: #D62C2C;
}
.judul{
     font-size: 4vmax;
     letter-spacing: .1rem;

}
.instansi{
     margin-top: 0.2vmax;
     font-style: normal;
     font-weight: 500;
     font-size: 1.4vmax;
}
.instansisearch{
     margin-top: 0.2vmax;
     font-style: normal;
     font-weight: 500;
     font-size: 1rem;
}
.jumlah{
     margin-top: 2vmax;
}
.butuh{
     font-style: normal;
     font-weight: normal;
     font-size: 2.2vmax;
}

.desc{
     font-style: normal;
     font-weight: bold;
     font-size: 18px;
     line-height: 26px;
}

.isi{
     font-style: normal;
     font-weight: normal;
     font-size:13px ;
}

.top{
     margin-top: 2vmax;
}

.hey{
     width: 100%;
     background-color: #E5E5E5;
}
.searchname{
     font-weight: normal;
     font-size: 2vmax,3vmin;

}

.fixed-top  {
     -webkit-backface-visibility: hidden;
    }
    .column1 {
     float: left;
     width: 25%;
     padding: 0 10px;
   }
   
   /* Remove extra left and right margins, due to padding */
   .row1 {margin: 0 -5px;}
   
   /* Clear floats after the columns */
   .row1:after {
     content: "";
     display: table;
     clear: both;
   }
   
   /* Responsive columns */
   @media screen and (max-width: 600px) {
     .column1 {
       width: 100%;
       display: block;
       margin-bottom: 20px;
     }
   }
   
   /* Style the counter cards */
   .card {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     padding: 16px;
     text-align: center;
     background-color: #ffffff;
   }  

h6{
     font-size: 1rem;
}

.main-container {
     width: 100%;
     height: 100%;
 }
 
 .logo-web img {
     min-width: 20%;
 }
 .main-container h3 {
     color: #ffffff;
     text-align: center;
     vertical-align: middle;
     padding-top: 5px;
     font-size: 25px;
 }

 @media screen and (max-width: 500px) {
     .logo-web img {
         max-height: 90%;
     }
 