@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body{
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  color : #505962;
}

/*---Navigation---*/

.navbar {
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(255,255,255)!important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);;
}

.navbar-nav li{
  padding-right :.7 rem;
}

.navbar-light .navbar-nav .nav-link{
  color:#d62c2c;
  border: 1px solid #d62c2c;
  border-radius: 5px;
}


/* Start Dashboard Page */
.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    z-index : 1;
    top:100px;
    color: #000000;
    font-weight: bold;
}

.caption .prof-nav{ 
    top:100%;
    font-size : 1.4rem;
    font-weight : 1000;
    letter-spacing: .1rem;
    padding-bottom : 1rem;
}


.caption .information {
    top:50%;
    font-size : 2.0rem;
    font-weight : 1000;
    letter-spacing: .1rem;
    padding-bottom : 1rem;
}

.btn{
    padding: .4rem 2.0rem;
    font-size: 1.0rem;
    text-transform: uppercase ;
    font-weight: bold;
    margin-bottom: 1.0rem;
}

.logout-button{
    width: auto;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.card{
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(255,255,255)!important;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}

.status-request{
    background: #ebebeb;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    border-radius: 10px;
}

.status-request-level{
    background: #d12e2e;
    width: 100%;
    height: 5px;
    border-radius: 10px;
}

.item-picture{
    background-image: url("/static/img/N95.png");
    width: 100%;
}