{% load static %}

<nav class="navbar2 navbar-expand-sm navbar-light bg-light sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <a href="/search/">
      <div class="logo-web d-flex flex-row" style="margin: 20px; margin-left: 30px;">
        <img src="{% static 'img/logo2.svg' %}" alt="logo">
      </div>
      </a>
      <ul class="navbar-nav ml-auto" style="margin-right: 30px;">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/" >Jonathan</a>
        </li>
      </ul>
    </div>
</nav>
