{% load static %}


<div class="main-container d-flex flex-column justify-content-between">
  <div class="navbar-container d-flex flex-row justify-content-between">

    <div class="logo-web d-flex flex-row" style="margin: 30px; margin-left: 40px;">
      <a href="/" style="text-decoration: none;">
        <img src="{% static 'images/logo.svg' %}" alt="logo">
      </a>
    </div>

    <div style="margin: 30px; margin-right: 40px;">
      <button type="button" class="btn btn-light">Jonathan</button>
    </div>

  </div>