{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static 'css\search_detail.css' %}">
	<link rel="stylesheet" href="{% static 'css\style.css' %}">
	<title>CoronaHub | Detail</title>
	
</head>
<body class="backwhite">
	{% include "snipsets/navbar.html" %}
	<div class="container-fluid ">
		<a href= "{% url 'search' %}" ><button class="btn btntop" >< Back</button></a>
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6" style="margin-bottom: 0.7vmax;">
					<div class="text-center" style="margin-bottom: 0.3vmax;">
						<img src="{% static 'img/gambar.svg' %}" alt="gambar" class="gambar"> 
					</div>
					<div class="text-center">
						<a href= "" ><button class="btn btndonate" >Donate</button></a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="judul">
						<p>N-95 Masks</p>
						<p class="instansi"><img src="{% static 'img/hospital.svg' %}" alt="gambar" class="gambar"> Rumah Sakit St. Moritz</p> 
					</div>
					<div class="text-left jumlah">
						<p class="butuh"><b> 1000</b>/3000 pieces</p>
						<img src="{% static 'img/bar.svg' %}" alt="gambar" class="gambar">
					</div>
					<div class="text-left jumlah">
						<p class="desc">Description</p>
						<p class="isi">There are many variations of passages of Lorem Ipsum available, but the majority
							 have suffered alteration in some form, by injected humour, or randomised words 
							 which don't look even slightly believable.If you are going to use a passage of
							 Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in 
							 the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat
							 predefined chunks as necessary, making this the first true generator on the Internet. 
							 It uses a dictionary of over 200 Latin words, combined with a handful of model sentence 
							 structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is 
							 therefore always free from repetition, injected humour, or non-characteristic. ...<b> read more.</b>
							 </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>