{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static 'css\search_detail.css' %}">
	<link rel="stylesheet" href="{% static 'css\style.css' %}">
	<title>CoronaHub | Search</title>
	
</head>
<body class="backwhite">
	{% include "snipsets/navbar.html" %}
	<div class="container top column">
			<form action="">
				<div class="row text-center">
					<div class="custom-file mb-3 col-md-10 mt-md-0 mt-3" >
						<input id="myInput" class="form-control hey gap" type="search" placeholder="Search for needed donations e.g. masks, alcohol rubs, etc." style="border-radius: 10px;">		
					</div>
					<div class="text-center col-md-1 mb-3">
						<button type="submit" class="btn btndonate">Submit</button>
					</div>
				</div>
		   </form>
		</div>
		<div>
			<div class="col-md-7">
			<p class="searchname">You searched for<b> N-95 masks</b></p>
		</div>
		<div class="row row1" style="margin-top:0.4vmax;">
			<div class="column column1">
			  <div class="card text-left">
				<a href="{% url 'detail' %}">
					<img src="{% static 'img/gambarsearch.svg' %}" class="card-img-top"> 
				</a>
				<h5 class="card-title "><B>N-95 Masks</B></h5>
				<h6 class="card-text "><B>1000</B>/3000 pieces</h6>
				<img src="{% static 'img/bar.svg' %}" alt="gambar" class="gambarsearch">
				<p class="card-text instansisearch"><img src="{% static 'img/hospital.svg' %}" alt="gambar" class="gambar"> Rumah Sakit St. Moritz</p>
			  </div>
			</div>
		   
			<div class="column column1">
			  <div class="card text-left">
				<a href="{% url 'detail' %}">
					<img src="{% static 'img/gambarsearchurgen.svg' %}" class="card-img-top"> 
				</a>
				<h5 class="card-title "><B>N-95 Masks</B></h5>
				<h6 class="card-text "><B>1000</B>/3000 pieces</h6>
				<img src="{% static 'img/bar.svg' %}" alt="gambar" class="gambarsearch">
				<p class="card-text instansisearch"><img src="{% static 'img/hospital.svg' %}" alt="gambar" class="gambar"> Rumah Sakit St. Moritz</p>
			  </div>
			</div>
			
			<div class="column column1">
			  <div class="card text-left">
				<a href="{% url 'detail' %}">
					<img src="{% static 'img/gambarsearch.svg' %}" class="card-img-top"> 
				</a>
				<h5 class="card-title "><B>N-95 Masks</B></h5>
				<h6 class="card-text "><B>1000</B>/3000 pieces</h6>
				<img src="{% static 'img/bar.svg' %}" alt="gambar" class="gambarsearch">
				<p class="card-text instansisearch"><img src="{% static 'img/hospital.svg' %}" alt="gambar" class="gambar"> Rumah Sakit St. Moritz</p>
			  </div>
			</div>
			
			<div class="column column1">
			  <div class="card text-left">
				<a href="{% url 'detail' %}">
					<img src="{% static 'img/gambarsearchurgen.svg' %}" class="card-img-top"> 
				</a>
				<h5 class="card-title "><B>N-95 Masks</B></h5>
				<h6 class="card-text "><B>1000</B>/3000 pieces</h6>
				<img src="{% static 'img/bar.svg' %}" alt="gambar" class="gambarsearch">
				<p class="card-text instansisearch"><img src="{% static 'img/hospital.svg' %}" alt="gambar" class="gambar"> Rumah Sakit St. Moritz</p>
			  </div>
			</div>
		</div>
		<div class="row row1" style="margin-top:1.4vmax;margin-bottom:1.4vmax">
			<div class="column column1">
			  <div class="card text-left">
				<a href="{% url 'detail' %}">
					<img src="{% static 'img/gambarsearch.svg' %}" class="card-img-top"> 
				</a>
				<h5 class="card-title "><B>N-95 Masks</B></h5>
				<h6 class="card-text "><B>1000</B>/3000 pieces</h6>
				<img src="{% static 'img/bar.svg' %}" alt="gambar" class="gambarsearch">
				<p class="card-text instansisearch"><img src="{% static 'img/hospital.svg' %}" alt="gambar" class="gambar"> Rumah Sakit St. Moritz</p>
			  </div>
			</div>
		   
			<div class="column column1">
			  <div class="card text-left">
				<a href="{% url 'detail' %}">
					<img src="{% static 'img/gambarsearchurgen.svg' %}" class="card-img-top"> 
				</a>
				<h5 class="card-title "><B>N-95 Masks</B></h5>
				<h6 class="card-text "><B>1000</B>/3000 pieces</h6>
				<img src="{% static 'img/bar.svg' %}" alt="gambar" class="gambarsearch">
				<p class="card-text instansisearch"><img src="{% static 'img/hospital.svg' %}" alt="gambar" class="gambar"> Rumah Sakit St. Moritz</p>
			  </div>
			</div>
			
			<div class="column column1">
			  <div class="card text-left">
				<a href="{% url 'detail' %}">
					<img src="{% static 'img/gambarsearch.svg' %}" class="card-img-top"> 
				</a>
				<h5 class="card-title "><B>N-95 Masks</B></h5>
				<h6 class="card-text "><B>1000</B>/3000 pieces</h6>
				<img src="{% static 'img/bar.svg' %}" alt="gambar" class="gambarsearch">
				<p class="card-text instansisearch"><img src="{% static 'img/hospital.svg' %}" alt="gambar" class="gambar"> Rumah Sakit St. Moritz</p>
			  </div>
			</div>
			
			<div class="column column1">
			  <div class="card text-left">
				<a href="{% url 'detail' %}">
					<img src="{% static 'img/gambarsearch.svg' %}" class="card-img-top"> 
				</a>
				<h5 class="card-title "><B>N-95 Masks</B></h5>
				<h6 class="card-text "><B>1000</B>/3000 pieces</h6>
				<img src="{% static 'img/bar.svg' %}" alt="gambar" class="gambarsearch">
				<p class="card-text instansisearch"><img src="{% static 'img/hospital.svg' %}" alt="gambar" class="gambar"> Rumah Sakit St. Moritz</p>
			  </div>
			</div>
		</div>
	</div>
	<script>
		// Add the following code if you want the name of the file appear on select
		$(".custom-file-input").on("change", function() {
		  var fileName = $(this).val().split("\\").pop();
		  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
		});
	</script>
</body>
</html>