{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static 'css\search_detail.css' %}">
	<link rel="stylesheet" href="{% static 'css\style.css' %}">
	<title>CoronaHub | Search</title>
</head>

<body class="searchindex baik">
	<div class="bgimg">
		{% include "snipset/navbar.html" %}
		<div class="middle container formsearch ">
			<p class="gap">To #GotongRoyong is to donate.</p>
			<form action="{% url 'search' %}">
				<div class="justify-content-center">
					<input id="myInput" class="form-control gap" type="search"
						placeholder="Search for needed donations e.g. masks, alcohol rubs, etc."
						style="border-radius: 10px;">
					<span class="input-group-btn">
						<button class="btn"> Search </button>
					</span>
				</div>
			</form>
		</div>

	</div>
	<!-- Footer -->
	<footer class="page-footer font-small teal pt-4 fixed-bottom">

		<!-- Footer Text -->
		<div class="container-fluid text-md-left">

			<!-- Grid row -->
			<div class="row">

				<!-- Grid column -->
				<div class="col-md-6 mt-md-0 mt-3 left">

					<!-- Content -->
					<div class="footer-white text-lg-left text-center py-2">
						<p>Copyright © 2020 - Fasilkom UI x Coronahub Team</p>
					</div>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-6 mb-md-0 mb-3">

					<!-- Content -->
					<div class="footer-white text-lg-right text-center py-2">
						<p> more about <a href="https://www.cs.ui.ac.id/" style="color:white">Fasilkom UI</a></p>
					</div>

				</div>
				<!-- Grid column -->

			</div>
			<!-- Grid row -->

		</div>
		<!-- Footer Text -->

	</footer>
	<!-- Footer -->
</body>

</html>