{% load static %}


<meta http-equiv="pragma" content = "no-cache"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href = "{% static 'css/dashboard/style.css' %}" >
<link rel="stylesheet" href = "{% static 'css/dashboard/fixed/fixed.css' %}" >

<!DOCTYPE html>
<html>
<head>
	<title>Coronahub | Donation</title>
</head>
<body>
    {% include "snipsets/navbar.html" %}
    <h1>Profile Segment</h1>
    <!--Start Landing Page-->
    <div class="dashboard">
        <div class="home-wrap">
          <div class="home-inner">
            </div>
        </div>
      </div>
  
      <div class="caption row text-left">
        <div class = "prof-nav col-12 col-sm-12 col-md-12 col-lg-3">
            <div class = "content row">
                <div class = "navigation col-12 col-sm-6 col-md-6 col-lg-12 text-lg-left text-center">
                    <a style = "color : #000000" href="/dashboard">Profile</a>
                </div>
                <div class = "navigation col-12 col-sm-6 col-md-6 col-lg-12 text-lg-left text-center">
                    <a style = "color : #cb3131">Donation</a>
                </div>
            </div>
        </div>
        <div class = "information col-12 col-sm-12 col-md-12 col-lg-9">
            <div class="col">
                <div class="row-sm-6" style="padding-bottom: 40px;">
                    <div class="card">
                        <div class="card-body">
                            <div class= "row">
                                <img src="{% static 'img/N95.png' %}" class = "col-12 col-sm-12 col-md-12 col-lg-6 text-center" alt="logo">
                                <div class = "col-12 col-sm-12 col-md-12 col-lg-6" style="padding-left: 50px;">
                                    <h5>You have donated</h5>
                                    <div>
                                        <h1 class="card-title">N95-Mask</h1>
                                        <p style= "background-color: #fcbdbd;font-size: 13px;border-radius: 5px;width: 95px;text-align: center;">1000 pieces</p>
                                    </div>
                                    <h5 style="color: #d62c2c;">27th February 2019</h5>
                                    <p style= "font-size: 19px;" class="card-text">The status of your donation is</p>
                                    <div class ="status row">
                                        <div class = "row-3">
                                            <h5 style="color: #c4c4c4;">Sending</h5>
                                        </div>
                                        <div class = "row-4">
                                            <h5>-</h5>
                                        </div>
                                        <div class = "row-3">
                                            <h5>Received</h5>
                                        </div>
                                    </div>
                                    <div class = "row" style="padding-top: 10px;">
                                        <button type="view" class="btn btn-outline-danger">View Photo</button>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class= "row">
                                <img src="{% static 'img/N95.png' %}" class = "col-12 col-sm-12 col-md-12 col-lg-6 text-center" alt="logo">
                                <div class = "col-12 col-sm-12 col-md-12 col-lg-6" style="padding-left: 50px;">
                                    <h5>You have donated</h5>
                                    <div>
                                        <h1 class="card-title">N95-Mask</h1>
                                        <p style= "background-color: #fcbdbd;font-size: 13px;border-radius: 5px;width: 95px;text-align: center">1000 pieces</p>
                                        
                                    </div>
                                    <h5 style="color: #d62c2c;">27th February 2019</h5>
                                    <p style= "font-size: 19px;" class="card-text">The status of your donation is</p>
                                    <div class ="status row">
                                        <div class = "row-3">
                                            <h5 style="color: #c4c4c4;">Sending</h5>
                                        </div>
                                        <div class = "row-4">
                                            <h5>-</h5>
                                        </div>
                                        <div class = "row-3">
                                            <h5>Received</h5>
                                        </div>
                                    </div>
                                    <div class = "row" style="padding-top: 10px;">
                                        <button type="view" class="btn btn-outline-danger">View Photo</button>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class = "col-12 col-sm-12 col-md-12 col-lg-12 text-left">
            <div class ="logout-button col-12 col-sm-12 col-md-12 col-lg-12 text-left">
                <button type="submit"  onclick="window.location.href='/'" class="btn btn-outline-danger">Log Out</button>
            </div>    
        </div>
      </div>
        <!--End Landing Page-->
</body>
</html>