{% load static %}


<meta http-equiv="pragma" content = "no-cache"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href = "{% static 'css/dashboard/style.css' %}" >
<link rel="stylesheet" href = "{% static 'css/dashboard/fixed/fixed.css' %}" >

<!DOCTYPE html>
<html>
<head>
	<title>Coronahub | Profile</title>
</head>
<body>
    {% include "snipsets/navbar.html" %}
    <h1>Profile Segment</h1>
    <!--Start Landing Page-->
    <div class="dashboard">
        <div class="home-wrap">
          <div class="home-inner">
            </div>
        </div>
      </div>
  
      <div class="caption row text-left">
        <div class = "prof-nav col-12 col-sm-12 col-md-12 col-lg-3">
            <div class = "content row">
                <div class = "navigation col-12 col-sm-4 col-md-4 col-lg-12 text-lg-left text-center">
                    <a style = "color : #cb3131">Profile</a>
                </div>
                <div class = "navigation col-12 col-sm-4 col-md-4 col-lg-12 text-lg-left text-center">
                    <a style = "color : #000000" href = "/dashboard/donation">Donation</a>
                </div>
                <div class = "navigation col-12 col-sm-4 col-md-4 col-lg-12 text-lg-left text-center">
                    <a style = "color : #000000" href = "/dashboard/request">Request</a>
                </div>
            </div>
        </div>
        <div class = "information col-12 col-sm-12 col-md-12 col-lg-6">
            <div class = "tag col-12 text-left">
                <p>Name</p>
                <p id="tag">Jonathan Filbert</p>
            </div>
            <div class = "tag col-12 text-left">
                <p>Email</p>
                <p id="tag">hello@jofil.tech</p>      
            </div>
            <div class = "tag col-12 text-left">
                <p>New Password</p>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="New Password">      
            </div>
            <div class = "tag col-12 text-left">
                <p>Confirm New Password</p>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
            </div>
            
            <div class = "tag col-12 text-left">
                <button type="submit" class="btn btn-outline-danger">Save</button>        
            </div>
        </div>
        <div class = "col-12 col-sm-12 col-md-12 col-lg-12 text-left">
            <div class ="logout-button col-12 col-sm-12 col-md-12 col-lg-12 text-left">
                <button type="submit"  onclick="window.location.href='/'" class="btn btn-outline-danger">Log Out</button>
            </div>    
        </div>
      </div>
        <!--End Landing Page-->
</body>
</html>