{% load static %}

<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  	<!-- Google Font  -->
  	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

  	<!-- Bootstrap CSS -->
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  	<!-- Login CSS -->
  	<link rel="stylesheet" href="{% static 'css/login.css'%}">

	<title>Coronahub | Login</title>
</head>
<body>
	<nav>
		<a href="/">
			<img src="/static/img/administration/logo.png">
			<h5>Coronahub</h5>
		</a>
	</nav>

	<div class="main-container">

		<div class="menu-container">
			<h4><a href="/register">REGISTER</a></h4>
			<h4 class="active"><a href="/login">LOGIN</a></h4>
		</div>

		<form action="/search/" method="POST">
			{% csrf_token %}			
			<input type="email" name="email" placeholder="Email" id="email">

			<input type="password" name="password" placeholder="Password" id="password">

			<div class="button">
				<button>LOGIN</button>
			</div>

		</form>
	</div>
</body>
</html>