{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- SEO -->
	<title>Coronahub | Home</title>
	<meta property="og:title" content="Coronahub | Home" />
	<meta property="og:site_name" content="Coronahub" />
	<meta property="og:description" content="Coronahub | Fighting Covid-19 with #GotongRoyong" />
	<meta name="description" content="Coronahub | Fighting Covid-19 with #GotongRoyong">
	<link rel="shortcut icon" href="{% static 'images/icon.png' %}" type="image/x-icon">
	<!-- Fonts : Raleway-->
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">
	<!-- CSS  -->
	<link rel="stylesheet" href="{% static 'css/landing.css' %}">
</head>

<body>
	<div class="pageContainer">
		<div class="firstSectionContainer" id="section1">
			<div class="header">
				<div class="logo">
					<img src="{% static 'images/logo.svg' %}" alt="">
				</div>
				<div class="buttonGroupTop">
					<a href="/register">
						<div class="buttonPrimary">
							REGISTER
						</div>
					</a>
					<a href="/login">
						<div class="buttonSecondary">
							LOGIN
						</div>
					</a>
				</div>
			</div>
			<div style="flex:1"></div>
			<div class="row">
				<div class="mainTitle">
					#GotongRoyong against Covid-19
				</div>
			</div>
			<div style="flex:1">
				<div class="row buttonRow">
					<a href="/">
						<div class="buttonPrimary">
							DONATE
						</div>
					</a>
				</div>
				<div class="row">
					<a href="/">
						<div class="subtitle">
							I want to ask for donations
						</div>
					</a>
				</div>
				<div class="row bottomScreen">
					<div class="smoothScroll">
						<a href="#section2" style="color: white;">LEARN MORE</a>
					</div>
				</div>
			</div>
		</div>

		<div class="secondSectionContainer" id="section2">
			<div class="row title2">
				Take actions, help each other.
			</div>
			<div class="row column">
				<div class="firstParagraph">
					As Indonesians, we believe in the spirit of <b>#GotongRoyong</b> in our everyday lives. The spirit
					of
					togetherness and solidarity has helped us to thrive together as a nation.
				</div>
				<div class="firstParagraph">
					Now, in difficult times due to Corona disease, we, once more, ask you to stand up, and help each
					other
					through donations in forms of logistics, supplies, masks, etc.
				</div>
			</div>
			<div class="row">
				<div class="divider"></div>
			</div>
			<div class="row">
				<div class="question">Are you a...</div>
			</div>
			<div class="row">
				<div class="tabContainer">
					<div class="tab active" id="donatorTab">
						Donator
					</div>
					<div class="tab" id="hospitalTab">
						Hospital / Clinic
					</div>
				</div>
			</div>
			<!-- Donator Content -->
			<div class="row donatorContainer" id="donatorContent">
				<div class="textContainer">
					<div class="subTitleDonator">
						<div class="asADonator">
							As a donator, you can:
						</div>
						<div class="row left">
							Search and find clinics / hospitals that are in need of donations.
						</div>
						<div class="row left">
							Find contact persons of the respective clinics/hospitals.
						</div>
						<div class="row left">
							Track your donations (make sure they’re used effectively).
						</div>
						<br>
						<div class="row left">
							<b>All done from the comfort of your phone!</b>
						</div>
						<div class="row left">
							<a href="/">
								<div class="secondButtonPrimary">
									BE A DONATOR
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="sideImageContainer">
					<img src="{% static 'images/circle1.png' %}" alt="" class="circle1">
				</div>
			</div>
			<!-- Hospital content -->
			<div class="row donatorContainer hidden" id="hospitalContent">
				<div class="textContainer">
					<div class="subTitleDonator">
						<div class="asADonator">
							As a hospital/clinic, you can:
						</div>
						<div class="row left">
							Request donations on various logistics such as masks, etc
						</div>
						<div class="row left">
							Receive donations from people on your area or accross the country
						</div>
						<br>
						<div class="row left">
							<b>All done from the comfort of your phone!</b>
						</div>
						<div class="row left">
							<a href="/">
								<div class="secondButtonPrimary longButton">
									REGISTER MY PLACE
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="sideImageContainer">
					<img src="{% static 'images/circle2.png' %}" alt="" class="circle1">
				</div>
			</div>
		</div>
		<div class="thirdSectionContainer">
			<div class="row">
				<div class="divider"></div>
			</div>
			<div class="row title2">
				We appreciate your #GotongRoyong spirit.
			</div>
			<div class="row column">
				<div class="firstParagraph">
					We are a team of open-source supporters with tireless dreams to make the world a better place.
				</div>
				<div class="firstParagraph">
					You can also donate and support us in our mission.
				</div>
			</div>
			<div class="row">
				<div class="logoSection">
					<img src="{% static 'images/fasilkom.png' %}" alt="" class="fasilkom">
					<div>
						<b>Your logo here</b>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top:2em">
				<a href="/">
					<div class="secondButtonPrimary">
						BE A SPONSOR
					</div>
				</a>
			</div>
			<div class="row repo" style="margin-top:2em">
				<a href="https://gitlab.com/coronahub/ghandoko">
					<div class="redText">
						VIEW THE REPO
					</div>
				</a>
			</div>
		</div>
		<div class="footer">
			<div class="copyright">
				Copyright © 2020 - Fasilkom UI x Coronahub Team
			</div>
			<div class="learnMore">
				<a target="_blank" href="https://www.cs.ui.ac.id/"><b>Learn more about Fasilkom UI</b></a>
			</div>
		</div>
	</div>
</body>


<script>
	document.getElementById("donatorTab").addEventListener("click", handleDonatorClick);
	document.getElementById("hospitalTab").addEventListener("click", handleHospitalClick);

	function handleDonatorClick() {
		document.getElementById("donatorContent").classList.remove("hidden");
		document.getElementById("hospitalContent").classList.add("hidden");
		document.getElementById("donatorTab").classList.add("active");
		document.getElementById("hospitalTab").classList.remove("active");
	}

	function handleHospitalClick() {
		document.getElementById("hospitalContent").classList.remove("hidden");
		document.getElementById("donatorContent").classList.add("hidden");
		document.getElementById("donatorTab").classList.remove("active");
		document.getElementById("hospitalTab").classList.add("active");
	}
</script>

</html>