{% load static %}
<link rel="stylesheet" href = "{% static 'css/dashboard/style.css' %}" >
<link rel="stylesheet" href = "{% static 'css/dashboard/fixed/fixed.css' %}" >

<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <a class="logo-web d-flex flex-row" style="margin: 20px; margin-left: 40px;" href="/search">
        <img src="{% static 'img/logo.svg' %}" alt="logo">
      </a>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href= "/dashboard" >Jonathan</a>
        </li>
      </ul>
    </div>
</nav>